@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Bungee", Arial, Helvetica, sans-serif;
}

header{
    background-color: #182C61;
    padding: 20px 0;
}

header h1{
    color: white;
    font-size: clamp(20px, 5vw, 50px);
}

.container-head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 1em;
}

.container-head a{
    font-size: clamp(12px, 2.5vw, 26px);
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-left: 1vw;
}

.container-head a:hover{
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.296);
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

#container1{
    display: flex;
    padding: 1em 2em;
    gap: 3vw;
    justify-content: center;
}

img{
    max-width: 100%;
}

#style-image-street{
    border: 1px solid black;
}

#about{
    max-width: 50%;
}

#about h2{
    color: #182C61;
    font-size: clamp(16px, 3vw, 28px);
}

#about p{
    font-family: Arial, Helvetica, sans-serif;
}

.logo-list{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0;
    max-width: 25vw;
}

.logo-list li {
    margin-left: 1vw;
    flex: 1;
}

#playstation{
    max-height: 45%;
    object-fit: contain;
}

#container-inferior{
    max-width: 100%;
    padding-left: 2vw;
    padding-bottom: 1vw;
    display: flex;
    margin-top: 4vw;
    gap: 10vw;
}

#contato{
    padding-left: 10px;
    text-align: center;
}

#contato h2{
    text-align: left;
    color: #182C61;
    font-size: clamp(30px, 4vw, 48px);
}

#contato h3, #container-rside h3{
    text-align: left;
    color: #182C61;
    font-size: clamp(20px, 2vw, 36px);
}

#botoes{
    width: 50vw;
    padding: 10px 0 10px 10px;
    margin: 0;
    line-height: 30px;
}


.botoes-p{
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 10px;
}

form textarea{
    padding: 8px 0 90px 10px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 1.1em;
    font-family: Helvetica, sans-serif;
}

#enviar{
    padding: 10px;
    font-family: "Bungee", Arial, Helvetica, sans-serif; 
    margin-top: 10px;
    width: 80%;
    border-radius: 20px;
}

#container-rside{
    margin-top: 3vw;
    max-width: 33%;
    
}

.logo-list2{
    display: flex;
    margin-top: 8px;
    padding: 0;
    gap: 1vw;
    width: 15vw;
    align-items: center;
}


#address{
    margin-top: 3vw;
    max-width: 35vw;
}

footer{color: white;
    background-color: #182C61;
    text-align: center;
    padding: 20px;
}
